# 这俩包别带了还是
csdy 1.20.1 src.7z
forge-1.20.1-47.3.1-mdk.zip

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
